* {
    margin:0;
    padding:0;
}

table {
    width:80%;
    margin:auto;
}

#layout {
    display:flex;
}

#left_container {
    width: 65%;
    margin:50px auto;
}

#input_container{
    width:35%;
    margin:auto;
    display:inline-block;
}

#right_container {
    height:50vh;
    border-left:1px solid black;
}

#in_con {
    width:80%;
    margin:auto;
}

#Title {
    width:100%;
    height:30px;
    margin: 20px auto;
}

#Content {
      width:100%;
      height:320px;
      margin: 20px auto;
}

#Account_book {
    height:50vh;
    border-top:1px solid black;
    border-left:1px solid black;
}

#Account_book > h2 {
    text-align:center;
}

#input_money {
    text-align:center;
}

#input_con2 {
    display:none;
}

#charts {
    display:flex;
    justify-content:space-between;
}

.Chart_info {
    text-align:center;
}

#total_money_container{
    width:50%;
    margin: 20px auto;
}

#total_money {
    font-size:20px;
    text-align:center;
}

#table_line {
    height:30px;
}

#table_date {
    width:15%;
    text-align:center;
    box-size:border-box;
    font-size:22px;
}

#table_title {
    width:85%;
    text-align:center;
    box-size:border-box;
    font-size:22px;
}

#table_not {
    text-align:center;
    font-size:22px;
}
