* {
    margin:0;
    padding:0;
}

#layout {
    display:flex;
}

#left_container {
    width: 65%;
}

#input_container{
    width:35%;
    margin:auto;
    display:inline-block;
}

#right_container {
    height:500px;
    background:gray;
}

#Account_book {
    height:500px;
    background:green;
}

#charts {
    display:flex;
}

.Chart_info {
    text-align:center;
}

#total_money_container{
    width:50%;
    margin: 20px auto;
}

#total_money {
    font-size:20px;
    text-align:center;
}